{% extends 'layouts/base.html' %}
{% block content %}
<div class="content-wrapper">
  <section class="content-header"><h1>Crear ticket</h1></section>
  <section class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
